<!DOCTYPE html>
<html> 
<head> 
    <title> Classificador </title> 
    <link rel = "stylesheet" href = " https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css "integridade =" sha384-Gn5384xqQ1aoWXA + 058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW / dAiS6JXm "crossorigin =" anônimo "> 

    <body style = "background-color: black"> 
        <div id = "maintext" style = "position: absolute; margin: auto; width: 700px; height: 200px; text-align: center; top: 0; bottom: 0; esquerda: 0; direita: 0; ">   
          <h1 class =" text-light mb-2 "> Envie sua imagem </h1> 
          <h4 class = "text-light mb-5"> (Envie imagens com tamanho inferior a 500kb) </h4> 
          <form method = post enctype = multipart / form-data> 
             <p class = "text -light "> 
                <input type = file name = file> 
                <input type = submit value = Upload> 
             </p> 
          </form> 
        </div> 
        </body> 

</head>
</html>